{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <div class="column is-one-quarter">
        {% include 'includes/info-main.html' %}
      </div>
      <div class="column">
        <p class="title">
            This is the bag page.
        </p>

        {{ bag_items }}
        {% if bag_items %}
            <p class="subtitle">hello you have an order in your bag</p>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th><abbr title="Order Details">Order details</abbr></th>
                    <th> Order Type </th>
                    <th> Created On </th>
                    <th> Deliver By </th>
                    <th> References </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in bag_items.quantity %}
                    <tr>
                      <td>
                        {{ item.order_type }}
                      </td>
                      <td>
                        {{ item.deliver_by }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% else %}
        <p class="subtitle">you don't have an order in your bag. </p>
        <p>
            You can order from <a href="{% url 'home' %}">Services</a>
        </p>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
