{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <div class="column is-one-quarter">
        {% include 'includes/info-main.html' %}
        {% include 'includes/info-library.html' %}
        {% include 'includes/info-mix-master.html' %}
        {% include 'includes/info-other-services.html' %}
      </div>
      <div class="column">            
      </div>
    </div>
  </section>
</main>
{% endblock %}