{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
  <div class="columns is-hidden-mobile">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <div class="column is-one-quarter is-hidden-mobile">
        {% include 'includes/info-main.html' %}
      </div>
      <div class="column">    
        <p class="is-size-4 mt-6 title"><u>Profile</u></p>
        <!-- USER DETAILS -->
        <div class="columns">
          <div class="column">
            <label class="is-size-5 pt-3 has-text-weight-bold">User Name: </label>
            <p class="is-size-3 has-text-weight-light">{{ user }}</p>
            <label class="is-size-5 pt-3 has-text-weight-bold">Email: </label>
            <p class="is-size-3 has-text-weight-light">{{ user.email }}</p>
          </div>
        </div>
        <label class="title is-5">Contact Us:</label>
        <div> If you have any issues with your order or your service, message at any time to: <b>info@nullanion.com</b>. </div>
        <div class="columns">
          <div class="column">
            <p class="is-size-4 mt-3 title"><u>Your Info</u></p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="button is-warning is-light" type="submit">Update</button>
            </form>
          </div>
        </div>
        <!-- USER ORDER TABLE -->
        <div class="columns">
          <div class="column">
            <div class="order-history">
              <p>Your Order History</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Order Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                      <td>
                        <a href="{% url 'order_history' order.order_number %}"
                        title="{{ order.order_number }}">
                          {{ order.order_number|truncatechars:6 }}
                        </a>
                      </td>
                      <td>{{ order.deliver_by }}</td>
                      <td>
                        <ul class="">
                          {{ order.order_type }}
                        </ul>
                      </td>
                      <td>$ {{ order.order_total }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}