{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <div class="column is-one-quarter">
        {% include 'includes/info-main.html' %}
      </div>
      <div class="column">    
        <p class="title">PROFILE</p>
        <!-- USER DETAILS -->
        <div class="columns">
          <div class="column">
            <p> name:</p>
            <p> contact:</p>
          </div>
        </div>
        <!-- CLOSED ORDER TABLE -->
        <div class="columns">
          <div class="column">
            <p>Closed Orders</p>
            <table>
              CLOSED ORDER TABLE
            </table>
          </div>
        </div>
        <!-- OPEN ORDERS TABLE -->
        <div class="columns">
          <div class="column">
            <p>Open Orders</p>
            <table>
              OPEN ORDERS TABLE
            </table>
          </div>
        </div>
        <!-- CONVERSATION -->
        <div class="columns">
          <div class="column">
            <p>Conversation</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}