.icon-single {
    background: url(/static/icons/05-single.svg);
    object-fit: contain;
    height: 50px;
    width: 50px;
    display: block;
}
/* 
ul {
    background-color: red;
    display: inline !important;
} */