{% extends "base.html" %}
{% load static %}


{% block page_header %}
  <div class="columns is-hidden-mobile">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}


<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            {% include 'includes/info-main.html' %}
            {% include 'includes/info-library.html' %}
            {% include 'includes/info-mix-master.html' %}
        </div>
        <div class="columnns">
            <div class="column">
                <div class="title is-3">Thank You</div>
                <p class="title is-3">Checkout Success</p>
                <div> Your order information is contained here and will be emailed to <b> {{ order.email }} </b> also. </div>
                <div> Please take note of these intructions in order to get your files uploaded so work can begin. </div>
                <p class="is-size-4 mt-6 title"><u>Order Details</u></p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Order Number: </label>
                <p class="is-size-3 has-text-weight-light">{{ order }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Order Type: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.order_type }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Delivered By: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.deliver_by }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Extras: </label>
                {% if order.mix_extras != "['']" %}
                    <p class="is-size-3 has-text-weight-light">{{ order.mix_extras }}</p>
                {% else %}
                  <p class="is-size-3 has-text-weight-light">No Extras</p>
                {% endif %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Upload Your files to: </label>
                <p class="is-size-3 has-text-weight-light"><a href="https://www.dropbox.com/request/274urgH1uszcVdFsOspJ" target="_blank">HERE</a></p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Contact Email: </label>
                <p class="is-size-3 has-text-weight-light">{{ user.email }}</p>
              </div>
              {% if from_profile %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Profile: </label>
                <div class="columns">
                  <div class="column">
                    <p class="is-size-3 has-text-weight-light"><a href="{% url 'profile' %}" class="button is-warning is-light">My Profile</a></p>
                  </div>
                </div>
              {% endif %}
        </div>
    </div>
  </section>
</main>

{% endblock %}