{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
  <div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
    <section class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter">
                {% include 'includes/info-main.html' %}
                {% include 'includes/info-library.html' %}
                {% include 'includes/info-mix-master.html' %}
                {% include 'includes/info-other-services.html' %}
            </div>
            <div class="columnns">
                <div class="column">
                    <form action="{% url 'checkout' %}" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend><u>About you</u></legend>
                            About you form should be here.
                            {{ order_form|crispy }}
                            {{ order_form.email | crispy }}
                            {{ order_form.phone_number | crispy }}
                        </fieldset>
                        <fieldset>
                            <legend><u>Details</u></legend>
                            About you form should be here.
                            {{ order_form.product_ordered | crispy }}
                            {{ order_form.date }}
                        </fieldset>
                    </form>
                    <hr>
                    <fieldset>
                        {% if user.is_authenticated %}
                            <label>Save this information to my profile</label>
                            <input type="checkbox" name="save-info">
                        {% else %}
                            <label>
                                <a href="{% url 'account_signup' %}">Create Account</a>
                                or
                                <a href="{% url 'account_login' %}">login</a>
                                to save this information
                            </label>
                        {% endif %}
                    </fieldset>
                    <fieldset>
                        <legend>Payment</legend>
                        <!-- Stripe card element will go here -->
                        <div>
                            Card element
                        </div>
                        <!-- used to display errors -->
                        <div>
                            Card errors
                        </div>
                    </fieldset>

                    <!-- Stripe -->
                    <div class="field is-grouped">
                        <a class="button is-primary" href="">
                            Adjust order
                        </a>
                        <button class="button is-primary" href="">
                            Complete Order
                        </button>
                    </div>
                    <p>
                        <span>
                            Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}