{% extends "base.html" %}
{% load static %}


{% block page_header %}
  <div class="columns is-hidden-mobile">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}


<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
            {% include 'includes/info-main.html' %}
            {% include 'includes/info-library.html' %}
            {% include 'includes/info-mix-master.html' %}
        </div>
        <div class="columnns">
            <div class="column">
                <div class="title is-3">Thank You</div>
                <p class="title is-3">Checkout Success</p>
                <div> Your order information is contained here and will be emailed to <b> {{ order.email }} </b> also. </div>
                <div> Please take note of these intructions in order to get your files uploaded so work can begin. </div>
                <p class="is-size-4 mt-6 title"><u>Order Details</u></p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Order Number: </label>
                <p class="is-size-6 has-text-weight-light is-flex-wrap-wrap">{{ order }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Order Type: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.order_type }}</p>
                {% if order.order_type == "Production" %}
                  <label class="is-size-5 pt-3 has-text-weight-bold">Production Type: </label>
                    <p class="is-size-3 has-text-weight-light">{{ order.production_type }}</p>
                {% else %}
                  <label class="is-size-5 pt-3 has-text-weight-bold">Package Type: </label>
                  <p class="is-size-3 has-text-weight-light">{{ order.package_type }}</p>
                {% endif %}
                {% if order.order_type == "Production" %}
                {% else %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Sending: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.stem_choices }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Revisions: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.revisions }}</p>
                {% endif %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Delivered By: </label>
                <p class="is-size-3 has-text-weight-light">{{ order.deliver_by }}</p>
                <label class="is-size-5 pt-3 has-text-weight-bold">Extras: </label>
                {% if order.order_type == "Production" %}
                {% else %}
                  {% if order.mix_extras != "['']" %}
                      <p class="is-size-3 has-text-weight-light">{{ order.mix_extras }}</p>
                  {% else %}
                    <p class="is-size-3 has-text-weight-light">No Extras</p>
                  {% endif %}
                {% endif %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Contact Email: </label>
                <p class="is-size-3 has-text-weight-light">{{ user.email }}</p>
              </div>
              {% if order.order_type == "Production" %}
              {% else %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Upload Your files to: </label>
                <p class="is-size-3 has-text-weight-light"><a href="https://www.dropbox.com/request/274urgH1uszcVdFsOspJ" target="_blank">THIS LINK</a></p>
                <div class="content column is-half">
                  <p>
                    Please UPLOAD your materials to the above link.
                  </p>
                  <ul>
                    <li>If possible, please upload them as a .zip or as a normal folder.</li>
                    <li>Be sure to NAME the stems so they make sense for your engineer to work with them.</li>
                    <li>Also be sure to name your folder (or include a text file) with appropiate information, such as BPM / KEY, if needed, 
                      along with either your ACCOUNT NAME / ORDER NUMBER / or other identifier to link your stems with your order at Nullanion.com</li>
                    <li>If you have any questions, please get in touch at any time at info@nullanion.com.</li>
                    <li>Please let us know as soon as possible if there is anything wrong with the above order details,
                      or if you want to send more references, for example.</li>
                  </ul>
                </div>
              {% endif %}
              {% if from_profile %}
                <label class="is-size-5 pt-3 has-text-weight-bold">Profile: </label>
                <div class="columns">
                  <div class="column">
                    <p class="is-size-3 has-text-weight-light"><a href="{% url 'profile' %}" class="button is-warning is-light">My Profile</a></p>
                  </div>
                </div>
              {% endif %}
              <label class="title is-5">Contact Us:</label>
              <div> If you have any issues with your order or your service, message at any time to: <b>info@nullanion.com</b>. </div>
        </div>
    </div>
  </section>
</main>

{% endblock %}