@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200&display=swap');

.site-content {
  flex: 1;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("/static/images/nullanion_background_03.jpg") no-repeat center center fixed;
  background-size: cover;
  /* height: 100vh; */
  /* height: calc(100vh - 100px); */
  /* color: #f0f8ff; */
  font-family: 'Raleway', sans-serif;
}

#floating-sidebar {
  background-color: rgba(204, 204, 204, 0.4);
}

.message {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}
