<div class="box">
    <h6 class="title is-6 has-text-centered"><u>MiX & MASTER</u></h6>
    <p class="has-text-justified">Mix and Master is the most popular service, you can get your song, EP or Album sounding professional and radio ready.</p>
    <div class="field is-grouped">
      <p class="control">
        <button class="button">
          Mix
        </button>
      </p>
      <p class="control">
        <button class="button">
          Master
        </button>
      </p>
    </div>
  </div>