<div class="box">
  <h6 class="subtitle is-4">Mix & Master</h6>
    <p class="has-text-weight-light"> Order a Mix or a Master.
      Getting your songs streaming ready is the most important step
      before presenting your work to the world.</p>
    <br>
    <div class="level">
      <div class="level-left">
        <p class="control level-item">
          <a class="button  is-warning is-light" href="{% url 'services'%}?type=mix">Mix</a>
        </p>
      </div>
      <div class="level-right">
        <p class="control level-item">
          <a class="button  is-warning is-light" href="{% url 'services'%}?type=master">Master</a>
        </p>
      </div>
    </div>
  </div>