{% load static %}
<div class="box">
    <h6 class="subtitle is-4"><img src="{% static 'images/nullanion-logo.svg' %}" alt="null logo"></h6>
    <p class="has-text-weight-bold box">Nullanion offers music services for those that need quality, delivered on time.</p>
    <p class="has-text-weight-normal box">You can order a mix or master of a song, EP or full length LP (Album).
        A new service is the Add. Production form. Fill it in to send your request for production.</p>
    <p class="has-text-weight-normal box">
        Audio art is an amazingly personal product and achieving the techincal requirements to present it publicly
        have grown more accessible than ever, however, some artists require more experienced technical engineers 
        to get the best out of their creations. Luckily, these days, experienced engineers can be reached 
        from all over the world. 
    </p>
    <p class="has-text-weight-light box">
        Proving some experience and a legitiate web site to sell these services is the number one priority 
        in creating long lasting customer relationships and quality services.
    </p>
</div>
