        <!-- Navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a href="{% url 'home' %}" class="navbar-item" href="#">
                <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
                NULLANiON
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      Services
                    </a>
            
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        Mix
                      </a>
                      <a class="navbar-item">
                        Master
                      </a>
                      <a class="navbar-item">
                        Production
                      </a>
                      
                      <a class="navbar-item">
                        Soundtrack
                      </a>
                      <a class="navbar-item">
                        Sound Design
                      </a>
                    </div>
                    <div class="navbar-item">
                        <a href="{% url 'library' %}" class="navbar-item">
                            Library
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item">
                            Account
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item">
                            BASKET
                        </a>
                    </div>
                </div>
            </div>
          </nav>