{% load static %}
<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="{% url 'home' %}" class="navbar-item" href="#">
        <img src="{% static 'images/null_an_ion_logotype.svg' %}" width="112" height="28">
        
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Services
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'services-mix' %}" class="navbar-item">
            Mix
          </a>
          <a href="{% url 'services-master' %}" class="navbar-item">
            Master
          </a>
          <a href="{% url 'services-production' %}" class="navbar-item">
            Production
          </a>
<!--           
          <a class="navbar-item">
            Soundtrack
          </a>
          <a class="navbar-item">
            Sound Design
          </a> -->
        </div>
      </div>
      <a href="{% url 'library' %}" class="navbar-item">
        Library
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Account
        </a>
        <div class="navbar-dropdown">
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
              <a href="" class="navbar-item">SU Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="navbar-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="navbar-item">Logout</a>
          {% else %}
            <a href="{% url 'account_signup' %}" class="navbar-item">Create Account</a>
            <a href="{% url 'account_login' %}" class="navbar-item">Sign In</a>
          {% endif %}
        </div>      
      </div>

      <div class="navbar-item">
        <div class="navbar-item">
            <a class="navbar-item" href="#">
                CHECKOUT - 
                {% if grand_total %}
                  {{ grand_total|floatformat:2 }}
                {% else %}
                  0.00
                {% endif %}
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>