{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
        <div class="column is-one-quarter">
            {% include 'includes/info-main.html' %}
        </div>
        <div class="column">    
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% endblock  %}
            </div>
        </div>
    </div>
  </section>
</main>
{% endblock %}