{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/null-favicon.svg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/null-favicon.svg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/null-favicon.svg' %}">
    {% endblock %}

    {% block corecss %}
      <!-- bulma css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
      <!-- homemade css -->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <!-- STRIPE js -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
 
    <title>nullanion {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'includes/main-nav.html' %}
    </header>

    {% if messages %}
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
          {% else %}
            {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    {% endif %}

    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <!-- toast close JS -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.delete').click(function() {
          $(this).parents(".toast").toggle();
        });
      });
    </script>
    {% endblock %}

    <footer class="footer mt-3">
      <div class="content has-text-centered">
        <p>
          <strong>NULLANiON</strong> by <a href="https://github.com/lornebb" target="_blank">LABB</a>.
        </p>
        <p>
          For educational purposes only.
        </p>
      </div>
    </footer>

  </body>
</html>

    <!-- mobile menu JS -->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
  
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
      
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
      
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
      
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
      
            });
          });
        }
      
      });
      </script>