{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <!-- bulma css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
      <!-- homemade css -->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
 
    <title>nullanion {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'includes/main-nav.html' %}
    </header>

    {% if messages %}
      {% for message in messages %}
        {% include  'includes/toasts/toast_success.html' %}
      {% endfor %}
    {% endif %}

    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <!-- <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>NULLANiON</strong> by <a href="#">NULLANiON</a>.
        </p>
        <p>
          For educational purposes only.
        </p>
      </div>
    </footer> -->

  </body>
</html>