{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block page_header %}
<div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}

<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <div class="column is-one-quarter">
        {% include 'includes/info-main.html' %}
        {% include 'includes/info-mix-master.html' %}
      </div>
      <div class="column">            
        <u>Services: Order a Mix</u>

    <form action="#" method="post" class="uniForm">


      {{ mix_order_form|crispy }}


        

        <!-- <input type="submit" value="Submit"> -->
    </form>

HELLO I AM THE SERVICES PAGE

{% endblock %}