{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- {% crispy mix_form mix_form.helper %} -->

{% block extra_title %}
  {% if mix_form %}
    - Mix Order
  {% elif master_form %}
    - Master Order
  {% elif production_form %}
    - Production Order
  {% endif %}
{% endblock %}

{% block page_header %}
<div class="columns">
    <div class="column">

    </div>
  </div>
{% endblock %}

{% block content %}

<main class="site-content">
  <section class="container is-fluid">
    <div class="columns">
      <!-- LEFT info panel -->
      <div class="column is-one-quarter">
        {% include 'includes/info-main.html' %}
        {% if mix_form or master_form %}
          {% include 'includes/info-mix-master.html' %}
        {% elif production_form %}
          {% include 'includes/info-production.html' %}
        {% else %}
          {% include 'includes/info-other-services.html' %}
        {% endif %}
      </div>
      <!-- RIGHT content column -->
      <div class="column">
        <u><strong>Order a {{ form_title }}</strong></u>
        
        {% if mix_form %}       
        <form action="{% url 'checkout_order_mix' %}" method="POST" class="uniForm">
          {% csrf_token %}
            <!-- MIX FORM -->
            {{ mix_form|crispy }}

        {% elif master_form %}
        <form action="{% url 'checkout_order_master' %}" method="POST" class="uniForm">
          {% csrf_token %}
          <!-- MASTER FORM -->
          {{ master_form|crispy }}

        {% elif production_form %}
        <form action="{% url 'checkout_order_production' %}" method="POST" class="uniForm">
          {% csrf_token %}
          <!-- PRODUCTION FORM -->
          {{ production_form|crispy }}
      
        {% endif %}

          <div class="control">
            <input class="button is-primary" type="submit" value="Submit">
          </div>
          <!-- redirects user back to same page once added to bag... redirect in bag/views.py-->
          <!-- <input type="hidden" name="redirect_url" value="{{ request.path }}"> -->
        </form>
        <hr>        
      </div>
    </div>
  </section>
</main>


{% endblock %}